<!-- Localizacao Section -->
<section id="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Localização</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <p class="text-muted">Estou numa localização ótima para quem está na região da Av. Paulista, em São Paulo.
                  <br><br> Meu espaço fica próximo das estações Consolação e Paulista, são apenas 3 quarteirões (5 minutos).</p>
            </div>
            <div class="col-md-4">
                <p class="text-muted">R. Augusta, 1371 - sobreloja 209
                  <br> Consolação, São Paulo - SP, 01305-100</p>
            </div>
            <div class="col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40660.10147120601!2d-46.69864099888923!3d-23.57925071777109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce594a62f5e7e1%3A0xd28634580733afcf!2sSarah%20Est%C3%A9tica!5e0!3m2!1spt-BR!2sbr!4v1567222535157!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
