  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://sarahestetica.appointlet.com">Agendar consulta</a>
                        </li>
                        <li><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511997575286">Conversar no WhatsApp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
