<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Princípios</h2>
                    <h3 class="section-subheading text-muted">Centro de Estética especializado em slow beauty e tratamentos naturais.
                      <br>Todos os produtos utilizados são veganos, livres de agentes nocivos e sintéticos.
                      <br>Convido você para conhecer todas as possibilidades de cuidados com a pele, corpo e mente.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pagelines fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Natural</h4>
                    <p class="text-muted">Cosméticos naturais, livres de sulfatos, parabenos, petrolatos e conservantes sintéticos - substâncias que agridem sua pele e organismo.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Orgânica</h4>
                    <p class="text-muted">Produtos ecofriendly, formulados exclusivamente com ingredientes naturais certificados, dentro dos princípios da sustentabilidade e preservação do meio ambiente.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vegana</h4>
                    <p class="text-muted">Produtos cruelty free e livres de ingredientes de origem animal.</p>
                </div>
            </div>
        </div>
    </section>
