<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted">Nossos principais serviços.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h3 class="text-muted">Serviços personalizados</h3>
                <p class="text muted">Para atender as necessidades de cada cliente, ofereço serviços especiais com a elaboração de protocolos personalizados e voltados a um objetivo específico.
                <br><br>Entre em contato para conversar sobre os serviços que ofereço e tire suas dúvidas.</p>
              </div>
              <div class="row text-center">
                <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511997575286" class="page-scroll btn btn-xl">
                  <i class="fa fa-whatsapp fa-1x"></i> WhatsApp</a>
              </div>
            </div>
        </div>
    </section>
